html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.wrapper{
  width: 100%;
  height: 100%;
  background: url('../images/background.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.joke{
  text-align: center;
  vertical-align: middle;
}
.text{
  margin-top: 15vh;
  padding: 0;
  font-size: 2.5em;
  font-weight: 700;
  color: #2C17B1;
}
.author{
  margin-top: 20px; 
  font-weight: 500; 
  font-size: 2em;
  color: #FF0000;
}
